body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    direction:rtl;
}
body{
    overflow-x: hidden;
    height: 100%;
}
.ul1{
    margin: 10px 0 10px 0;
    list-style: none;
}
.lia1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}
.lia1:hover{
    color:  rgb(255, 115, 0);
    border-bottom: 1px solid  rgb(255, 115, 0);
}
.li1{
    padding-left: 20px;
    text-align: center;
    z-index: 5;
}
.h11{
    font-weight: bold;
    font-size: 35px;
    font-family: Lobster;
}
.btn1:hover{
    outline: none;
    border-color: rgb(255, 115, 0);
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:  rgb(255, 115, 0);
}
.navbar-dark .navbar-toggler{
    border-color: white;
    opacity: 100%;
    color: rgb(255, 255, 255,1);
}
.navbar-dark .navbar-toggler:hover{
    border-color:   rgb(255, 115, 0);
}
.imgLogo1{
    width: 65px;
    height: auto;
}
.nav1{
    flex-direction: row-reverse;
    background-color:  black;
}
.rowClubs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 50px;
    background-color: rgb(236, 236, 237);
    word-wrap: break-word;
    margin-bottom: 15px;
}
.colClubs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clubsLogo{
    width: 70%;
    height: 80%;
}
.rowM {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    word-wrap: break-word;
    justify-content: center;
}
.colNews{
    height: 350px;
    background-color: rgb(236, 236, 237);
    margin: 15px 15px 15px 15px;
    padding-right: 0;
    padding-left: 0%;
    border: 3px ridge gray;
    border-radius: 7px;
    box-shadow: 5px 5px 5px gray;
}
.colMatches{
    height: 350px;
    /* Hegiht will be : auto */
    background-color: rgb(236, 236, 236);
    margin: 15px 15px 15px 15px;
    padding-right: 0;
    padding-left: 0%;
    border: 3px ridge gray;
    border-radius: 7px;
    box-shadow: 5px 5px 5px gray;
}
.mnHead{
    text-align: right;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-weight: bold;
}
.mnLink{
    text-decoration: none;
    color: white;
}
.mnLink:hover{
    color: rgb(255, 115, 0);
    text-decoration: none;
}

/* footer */
.footer-top{
    background: black;
    clear: both;
    margin-top: -30px;
    align-items: center;
}
.fpad{
    padding: 30px 0 15px 0;
    color: white;
}
.hfoot{
    color: white;
    font-weight: bold;
    font-family: serif;
    padding-bottom: 10px;
    font-style: italic;
}
.ulfoot{
    list-style: none;
    color: white;
}
.afoot{
    color: white;
}
.afoot:hover{
    color: black;
}
.imgfoot{
    margin-top: -10px;
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
}
